<!DOCTYPE html>
<html>
<head>
  <title> Meet Erin Tyrneaelrvis </title>
</head>
<body>
  <p>
    Quote: "I don't know how I got here other then I followed a kitty."
    Bio: Hello, I'm Erin Tyrneaelrvis. I'm an 120
years old Eladrin Elf! I'm also a druid who
serves the circle of dreams. Oh did I
mention I was born in the Fey Wild?
    FAQ:
      Question one:
      Are you part deer?
 No, I'm a druid. After a
while we can change part
of use to look like animals!
      Question two:
      You look like a kid.
Not really a question
silly, but us Elves age
really slow, and being
a druid slows it even
more. But to elves I'm
still very young.
    Question three:
    What do you do?
I'm mainly my group's
healer, but I know how
to fight a little. I'm a
good aim!

Fun Facts
  Number One:
  "I love
  cookies and
  milk!"
  Number Two:
  "Cats are my
  favorite animal
  in this realm!"
  Number Three:
  "The season
shown on my antlers
go with my emotional
state."
      </p>
</body>
</html>
